<dl>
  <dt>title</dt>
  <dd>{{title}}</dd>
  <dt>subtitle</dt>
  <dd>{{subtitle}}</dd>
  <dt>supported</dt>
  <dd>{{supported}}</dd>
</dl>

<form method="POST" action="http://www.aniplustv.com/purchase/Down_Checkpay.asp">
  content serial <input type="text" name="contentSerial" value="{{serial}}"/><br/>
  ids <input type="text" name="CheckedItems" value="{{ids}}"/><br/>

  <input type="hidden" name="sFlag" value="0"/>
  <input type="hidden" name="gubun" value="down"/>
  <input type="hidden" name="chk" value=""/>
  <input type="hidden" name="chksale" value=""/>

  <input type="submit"/>
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var f = document.querySelector('form'); 
  if({{supported}}) {
    f.submit();
  }
});
</script>



